/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/09/13, 10:13:07
    Author     : dys
*/

.error {
    text-size: 0.5em;
    color: red;
}