<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="main.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2">
                <h:inputText id="name" value="#{signUpBean.name}" p:placeholder="#{res.name}">
                    <f:validateRequired/>
                    <f:ajax event="blur" execute="@this" render="nameMessage" />
                </h:inputText>
                <h:message id="nameMessage" for="name" errorClass="error"/>
                <h:inputText id="userId" value="#{signUpBean.userId}" p:placeholder="#{res.id}">
                    <f:validateRequired/>
                    <f:ajax event="blur" execute="@this" render="idMessage" />
                </h:inputText>
                <h:message id="idMessage" for="id" errorClass="error" />
                <h:inputSecret id="password" value="#{signUpBean.password}" p:placeholder="#{res.password}">
                    <f:validateRequired/>
                    <f:ajax event="blur" execute="@this" render="passwordMessage" />
                </h:inputSecret>
                <h:message id="passwordMessage" for="password" errorClass="error" />
            </h:panelGrid>
            <h:inputHidden id="id" value="#{signUpBean.id}" />
            
            <h:panelGrid columns="3">
                <h:commandButton value="#{res.make}" action="#{signUpBean.create()}" />
                <h:commandButton value="#{res.update}" action="#{signUpBean.update()}" />
                <h:commandButton value="#{res.clear}" action="#{signUpBean.clear()}">
                    <f:ajax render="@all"/>
                </h:commandButton>
            </h:panelGrid>
            
            <hr/>
            
            <h:dataTable value="#{signUpBean.all}" var="user">
                <h:column>#{user.account.id}</h:column>
                <h:column>#{user.name}</h:column>
                <h:column>#{user.account.userId}</h:column>
                <h:column>#{user.account.password}</h:column>
                <h:column>
                    <h:commandLink value="#{res.edit}" action="#{signUpBean.edit(user)}">
                        <f:ajax render="@all" />
                    </h:commandLink>
                </h:column>
                <h:column>
                    <h:commandLink value="#{res.delete}" action="#{signUpBean.delete(user)}">
                        <f:ajax render="@all" />
                    </h:commandLink>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>

